spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        use_sql_comments: true

#    defer-datasource-initialization: true

#  sql:
#    init:
#      mode: never